@import url('variables.css');

@media (min-width: 610px) {
  .promo-section {
    margin: 20px auto;
  }
}
/* Media Queries para tabletas */
@media (min-width: 768px) {
    .movies-container {
      flex-direction: row;
      justify-content: center;
    }
    .instruction-container {
      margin: 20px auto;
    }
    .promo-section {
      max-width: 680px;
    }
    .promo-content {
      padding: 60px 42px 42px 42px;
    }
    .promo-title {
      margin-bottom: 2.375rem;
    }
    .promo-content > .promo-subtitle:nth-of-type(1) {
      margin-bottom: 1.6rem;
    }
  }
  
  /* Media Queries para escritorio */
  @media (min-width: 1024px) {
    .logo-container .logo-title {
      font-size: 2rem;
    }
    .instruction-container h2 {
      font-size: var(--font-size-xxlarge);
    }
  }