/* Contenedor de películas */
.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  2.125rem;
    padding: 1rem;
    margin-top: 32px;
  }
  
  .movie-card {
    aspect-ratio: 1 / 1.5; 
    width: 100%;
    max-width: 212px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
  }

  .movie-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  }
  
  .movie-card img {
    width: 100%;
    height: 100%;
    display: block;
  }

  /* Acesibilidad */
  .movie-card {
    /* Estilos base de las tarjetas de película */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .movie-card.focused {
    transform: scale(1.05); /* Aumenta el tamaño cuando está enfocado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añade sombra */
    outline: 2px solid #007bff; /* Añadir borde para indicar el enfoque */
  }
  