@import url('variables.css');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }
  
  body {
    color: var(--text-color);
    line-height: var(--font-size-large);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 0;
  }

  /* Ajusto la img del fondo */
  body::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../img/movies_bg.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.30;
      z-index: -1;
  }
  
  /* Capa de fondo a color negro */
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con 80% de opacidad */
    z-index: -1;
  }
  
  /* Logo */
  header {
    text-align: center;
    padding: 1rem;
  }

  .logo-container{
    color: var(--secondary-color);
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .logo-container .logo-title{
    font-size: var(--font-size-large);
    border: 2px solid;
    padding: 12px 20px;
    background-color: #00000066;
  }
  
  /* Indicador de progreso */
  .progress-container {
    text-align: center;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
  }

  .progress {
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid #FFFFFF21;
    background-color: var(--text-color);
  }
  
  .progress span {
    display: block;
    font-size: var(--font-size-medium);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .circles {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    margin-top: 13px;
  }
  
  .circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--text-color);
    border: 1.6px solid var(--primary-color); /* Recomiendo pasar a 2px por accesibilidad */
  }
  
  .circle.active {
    background-color: var(--primary-color);
  }
  
  /* Título de instrucciones */
  .instruction-container {
    text-align: center;
    margin-top: 32px;
  }
  
  .instruction-container h2 {
    font-size: var(--font-size-xlarge);
    font-weight: 600;
  }
  
  /* Contenedor de películas */
  .movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  2.125rem;
    padding: 1rem;
    margin-top: 32px;
  }
  
  .movie-card {
    width: 80%;
    max-width: 290px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  }
  
  .movie-card img {
    width: 100%;
    display: block;
  }
  
  /* Footer */
  footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
  }
  
  footer nav a {
    color: #aaa;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  footer nav a:hover {
    color: #fff;
  }
  
  /* Media Queries para tabletas */
  @media (min-width: 768px) {
    .movies-container {
      flex-direction: row;
      justify-content: center;
    }
  }
  
  /* Media Queries para escritorio */
  @media (min-width: 1024px) {
    .logo-container .logo-title {
      font-size: 2rem;
    }
    .instruction-container h2 {
      font-size: var(--font-size-xxlarge);
    }
  }
  