:root {
    --font-size-small: 0.875rem; /* 14px */
    --font-size-medium: 1.18rem;    /* 16px */
    --font-size-large: 1.5rem;   /* 24px */
    --font-size-xlarge: 2rem;    /* 32px */
    --primary-color: #22DAA8;
    --secondary-color: #C72C3C;
  }